<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ 'Aura Fest Events' }}</title>
  <meta name="description" content= you dream it we make it " />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2280%22>🎉</text></svg>">
  {% block extra_css %}{% endblock %}
</head>
<body>
  <header class="site-header">
    <div class="container nav">
      <a class="brand" href="{{ url_for('index') }}">Aura fest<span>Events</span></a>
      <nav>
        <a href="{{ url_for('services') }}">Services</a>
        <a href="{{ url_for('gallery') }}">Gallery</a>
        <a href="{{ url_for('contact') }}">Contact</a>
        <a href="{{ url_for('login') }}">login </a>
        <a href="https://instagram.com/aura_fest_events" target="_blank">
  <i class="fab fa-instagram"></i>
</a>
        <a class="btn btn-primary" href="#book">Book Now</a>
      </nav>
    </div>
  </header>

  {% block content %}{% endblock %}

  <footer class="site-footer">
    <div class="container footer-grid">
      <div>
        <h4>Aura Fest Events<br> you dream it we make it<b></h4>
        <p>Premium event decoration & planning across Bangalore</p>
      </div>
      <div>
        <h4>Quick Links</h4>
        <ul>
          <li><a href="{{ url_for('services') }}">Services</a></li>
          <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
          <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
      </div>
      <div>
        <h4>Contact</h4>
        <p>Phone: +91-9611468744 <br>phone: +91-7619699970 <br>Email:aurafestevents@gmail.com</p>
      </div>
    </div>
    <footer>
  <a href="https://instagram.com/aura_fest_events" target="_blank">
    <i class="fab fa-instagram"></i> Follow us on Instagram
  </a>
  <a href="https://wa.me/917353631147" target="_blank" class="whatsapp-btn">
  <i class="fab fa-whatsapp"></i>
</a>
    <p class="copyright">© {{ 2025 }} Aura Fest Events. All rights reserved.</p>
  </footer>

 
</a>

</body>
</html>
